{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% macro adjustmentsIntercept(intercept, prisonerNumber, adjustmentsUIUrl) %}
  {% set url %}
    {% if intercept.anyProspective %}
      {{ adjustmentsUIUrl + "/" + prisonerNumber + "/additional-days/review-prospective" }}
    {% else %}
      {{ adjustmentsUIUrl + "/" + prisonerNumber + "/additional-days/review-and-approve" }}
    {% endif %}
  {% endset %}

  {% set html %}
    <p class="govuk-notification-banner__heading">
      Before you continue, you must
      {% if intercept.type == 'FIRST_TIME' %}
        <a href="{{ url }}">review existing ADA information</a>.
        {% elif intercept.type == 'PADA' %}
        <a href="{{ url }}">review prospective ADA information</a>.
      {% else %}
        <a href="{{ url }}">review the updated ADA information</a>.
      {% endif %}
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html
  }) }}
{% endmacro %}
