{% extends "govuk/template.njk" %}
{% from "hmpps/components/legal-information/service-header/macro.njk" import serviceHeader %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
  {{ 
      serviceHeader({
      environment: environment,
      prisonNumber: prisoner.prisonerNumber
    })
  }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}
  {% block javascripts %}
  {% endblock %}
{% endblock %}
