{% extends "./layout.njk" %}

{% from "hmpps/components/mini-profile/macro.njk" import miniProfile %}
{% from "hmpps/components/court-cases-release-dates/sub-navigation/macro.njk" import subNavigation %}

{% block beforeContent %}
    <aside role="complementary">
        {% block banner %}
            {{ miniProfile(prisoner, '/prisoner/' + prisoner.prisonerNumber + '/image', digitalPrisonServicesUrl + '/prisoner/' + prisoner.prisonerNumber) }}
        {% endblock %}
    </aside>
    {% block subNavigation %}
        {% set navigation = {
                activeSubNav: activeSubNav,
                courtCases: {
                    enabled: false
                },
                documents: {
                    enabled: false
                }
            } %}
        {{ subNavigation(environment, navigation, prisoner.prisonerNumber) }}
    {% endblock %}
{% endblock %}