{% extends "./layout.njk" %}

{% from "hmpps/components/mini-profile/macro.njk" import miniProfile %}
{% from "hmpps/components/legal-information/sub-navigation/macro.njk" import subNavigation %}

{% block main %}
    <div class="govuk-width-container {{ containerClasses }}">
        {% block beforeContent %}{% endblock %}
        <main class="govuk-main-wrapper app-container govuk-body {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
            {% block banner %}
                {{ miniProfile(prisoner, '/prisoner/' + prisoner.prisonerNumber + '/image', digitalPrisonServicesUrl + '/prisoner/' + prisoner.prisonerNumber) }}
            {% endblock %}

            {% if environmentName === 'LOCAL' %}
                {% set environment = 'local' %}
            {% elseif environmentName === 'DEV' %}
                {% set environment = 'dev' %}
            {% elseif environmentName === 'PRE-PRODUCTION' %}
                {% set environment = 'pre' %}
            {% else %}
                {% set environment = 'prod' %}
            {% endif %}

            {% set navigation = {
                activeSubNav: activeSubNav
            } %}

            {% block subNavigation %}
                {{ subNavigation(environment, navigation, prisoner.prisonerNumber) }}
            {% endblock %}

            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}