{% extends "./layout.njk" %}

{% from "hmpps/components/mini-profile/macro.njk" import miniProfile %}
{% from "hmpps/components/court-cases-release-dates/sub-navigation/macro.njk" import subNavigation %}

{% block main %}
    <div class="govuk-width-container {{ containerClasses }}">
        {% block beforeContent %}{% endblock %}
        <main class="govuk-main-wrapper app-container govuk-body {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
            {% block banner %}
                {{ miniProfile(prisoner, '/prisoner/' + prisoner.prisonerNumber + '/image', digitalPrisonServicesUrl + '/prisoner/' + prisoner.prisonerNumber) }}
            {% endblock %}

            {% set navigation = {
                activeSubNav: activeSubNav,
                courtCases: {
                    enabled: false
                },
                documents: {
                    enabled: false
                }
            } %}

            {% block subNavigation %}
                {{ subNavigation(environment, navigation, prisoner.prisonerNumber) }}
            {% endblock %}

            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}