{% macro thingsToDoPanel(thingsToDo, prisonerNumber, calculateReleaseDatesUIUrl, adjustmentsUIUrl) %}
  <article class="moj-ticket-panel" aria-label="things-todo-panel">
    {# Section for Calculation Required #}
    {% if thingsToDo.hasCalculationThingsToDo and 'CALCULATION_REQUIRED' in thingsToDo.calculationThingsToDo %}
      {% set calculationUrl = calculateReleaseDatesUIUrl + '/calculation/' + prisonerNumber + '/reason' %}
      {% set heading = 'Calculation required' %}
      {% set paragraphText = 'Some information has changed. Check that all information is up to date then calculate release dates.' %}
      {% set buttonText = 'Calculate release dates' %}

      {{ todoSection(calculationUrl, heading, paragraphText, buttonText) }}
    {% endif %}

    {# Section for ADA Intercept #}
    {% if thingsToDo.hasAdjustmentThingsToDo %}
      {% set adaIntercept = thingsToDo.adjustmentThingsToDo.adaIntercept %}

      {% set adaUrl %}
        {% if adaIntercept.anyProspective %}
          {{ adjustmentsUIUrl + "/" + prisonerNumber + "/additional-days/review-prospective" }}
        {% else %}
          {{ adjustmentsUIUrl + "/" + prisonerNumber + "/additional-days/review-and-approve" }}
        {% endif %}
      {% endset %}

      {% set heading = 'Review ADA information' %}
      {% set paragraphText = 'The ADA information needs to be reviewed.' %}

      {% set buttonText %}
        {% if adaIntercept.type == 'FIRST_TIME' %}
          Review ADA information
          {% elif adaIntercept.type == 'PADA' %}
          Review prospective ADA information
        {% else %}
          Review updated ADA information
        {% endif %}
      {% endset %}

      {{ todoSection(adaUrl, heading, paragraphText, buttonText) }}
    {% endif %}
  </article>
{% endmacro %}

{% macro todoSection(url, heading, paragraphText, buttonText) %}
  <section class="moj-ticket-panel__content moj-ticket-panel__content--grey govuk-!-margin-bottom-8" aria-label="{{ heading }}">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ heading }}</h2>
    <p class="govuk-body">{{ paragraphText }}</p>
    <a href="{{ url }}" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
      {{ buttonText }}
    </a>
  </section>
{% endmacro %}
