{% macro thingsToDoPanel(thingsToDo, prisonerNumber, calculateReleaseDatesUiUrl, adjustmentsUiUrl) %}
  <article class="moj-ticket-panel" aria-label="things-todo-panel">
    {# Section for Calculation Required #}
    {% if thingsToDo.hasCalculationThingsToDo and 'CALCULATION_REQUIRED' in thingsToDo.calculationThingsToDo %}
      {% set calculationUrl = calculateReleaseDatesUiUrl + '/calculation/' + prisonerNumber + '/reason' %}
      {% set heading = 'Calculation required' %}
      {% set paragraphText = 'Some information has changed. Check that all information is up to date then calculate release dates.' %}
      {% set buttonText = 'Calculate release dates' %}

      {{ todoSection(calculationUrl, heading, paragraphText, buttonText) }}
    {% endif %}

    {# Section for ADA Intercept #}
    {% if thingsToDo.hasAdjustmentThingsToDo %}
      {% set adaIntercept = thingsToDo.adjustmentThingsToDo.adaIntercept %}

      {% set adaUrl %}
        {% if adaIntercept.anyProspective %}
          {{ adjustmentsUiUrl + "/" + prisonerNumber + "/additional-days/review-prospective" }}
        {% else %}
          {{ adjustmentsUiUrl + "/" + prisonerNumber + "/additional-days/review-and-approve" }}
        {% endif %}
      {% endset %}

      {% if adaIntercept.number > 1 %}
        {% set pluralisation = "s" %}
      {% else %}
        {% set pluralisation = "" %}
      {% endif %}

      {% set heading %}
        {% if adaIntercept.type in ['FIRST_TIME', 'FIRST_TIME_WITH_NO_ADJUDICATION'] %}
            Review ADA adjudication{{pluralisation}}
        {% elif adaIntercept.type in ['PADA', 'PADAS']  %}
          Review PADA{{pluralisation}}
        {% elif adaIntercept.type == 'UPDATE' %}
          Review ADA updates
        {% else %}
          Review adjustment information
        {% endif %}
      {% endset %}

        {% if adaIntercept.type in ['PADA','PADAS'] %}
           {% set interceptType = "PADA" %}
        {% else %}
           {% set interceptType = "ADA" %}
        {% endif %}

      {{ todoSection(adaUrl, heading, adaIntercept.message, "Review " + interceptType + pluralisation) }}
    {% endif %}
  </article>
{% endmacro %}

{% macro todoSection(url, heading, paragraphText, buttonText) %}
  <section class="moj-ticket-panel__content moj-ticket-panel__content--grey govuk-!-margin-bottom-8" aria-label="{{ heading }}">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ heading }}</h2>
    <p class="govuk-body">{{ paragraphText }}</p>
    <a href="{{ url }}" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
      {{ buttonText }}
    </a>
  </section>
{% endmacro %}
