@import 'hmpps-court-cases-release-dates-design/hmpps/all.scss';

.govuk-main-wrapper {
  min-height: 600px;
  padding-top: 0px;
}
.hmpps-profile-banner-alertx {
  padding: 20px 30px;
  margin: 0 0 30px 0;  // Adjusted to align with mini-profile margins
  background-color: rgba(244, 119, 56, 0.25);
  box-sizing: border-box;  // Ensure the box sizing is consistent
}

.hmpps-profile-banner-alert p {
  margin: 0 0 10px 0;
}

.hmpps-profile-banner-alert p + p {
  margin: 0;
}

.hmpps-profile-banner-alertx + .mini-profile {
  margin-top: 0;  // Remove top margin only when directly after the banner
  padding-top: 0;  // Remove top padding only when directly after the banner
}
