.govuk-main-wrapper {
  min-height: 600px;
  padding-top: 0px;
}
.hmpps-profile-banner-alertx {
  padding: 20px 30px;
  margin: 0 -15px;
  background-color:rgba(244, 119, 56, .25)
}

.hmpps-profile-banner-alertx p {
  margin:0 0 10px 0
}

.hmpps-profile-banner-alertx p + p {
  margin:0
}
