{% extends "../../partials/prisonerLayout.njk" %}

{% set pageTitle = prisoner.prisonerNumber %}
{% set activeSubNav = 'adjustments' %}

{% block content %}

    <h1 class="govuk-heading-xl">Review and apply adjustments</h1>

{% endblock %}
