{% extends "../../partials/prisonerLayout.njk" %}

{% set pageTitle = prisoner.prisonerNumber %}
{% set activeSubNav = 'court-cases' %}

{% block content %}

    <h1 class="govuk-heading-xl">Court cases</h1>

{% endblock %}
