{% extends "../../partials/prisonerLayout.njk" %}

{% set pageTitle = prisoner.prisonerNumber %}
{% set activeSubNav = 'documents' %}

{% block content %}

    <h1 class="govuk-heading-xl">Documents</h1>

{% endblock %}
