{% extends "../../partials/prisonerLayout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "hmpps/components/legal-information/service-header/macro.njk" import serviceHeader %}

{% set pageTitle = prisoner.prisonerNumber %}
{% set activeSubNav = 'overview' %}


{% block content %}

  <h1 class="govuk-heading-xl">Overview</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-m">Next court hearing</h3>

      {% if not (nextCourtEvent | length) %}
        <p class="govuk-body">No upcoming court hearing.</p>
      {% else %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
              text: "Case reference"
            },
              value: {
              text: nextCourtEvent.caseReference or 'Not entered'
            }
            },
            {
              key: {
              text: "Location"
            },
              value: {
              text: nextCourtEvent.courtLocation
            }
            },
            {
              key: {
              text: "Hearing type"
            },
              value: {
              html: nextCourtEvent.courtEventType
            }
            },
            {
              key: {
              text: "Date"
            },
              value: {
              text: nextCourtEvent.startTime | dateTime
            }
            }
          ]
        }) }}
      {% endif %}
    </div>
  </div>

{% endblock %}
