{% extends "../../partials/prisonerLayout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = prisoner.prisonerNumber %}
{% set activeSubNav = 'overview' %}

{% block content %}

  <h1 class="govuk-heading-xl">Overview</h1>

  <h3 class="govuk-heading-m">Next court hearing</h3>

  {{ govukSummaryList({
    rows: [
      {
        key: {
        text: "Case reference"
      },
        value: {
        text: nextCourtEvent.caseReference
      }
      },
      {
        key: {
        text: "Location"
      },
        value: {
        text: nextCourtEvent.courtLocation
      }
      },
      {
        key: {
        text: "Hearing type"
      },
        value: {
        html: nextCourtEvent.courtEventType
      }
      },
      {
        key: {
        text: "Date"
      },
        value: {
        text: nextCourtEvent.startTime
      }
      }
    ]
  }) }}

{% endblock %}
