{% extends "../../partials/prisonerLayout.njk" %}

{% set pageTitle = prisoner.prisonerNumber %}
{% set activeSubNav = 'release-dates' %}

{% block content %}

    <h1 class="govuk-heading-xl">Release dates</h1>

{% endblock %}
