{% extends "../../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - prisoner search" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Search for a prisoner to view their court cases, adjustments and release dates</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="search-input">
          <div class="search-input__form-inputs">
            {{ govukInput({
              id: "query",
              name: "query",
              type: "search",
              label: {
                text: "Enter name or prisoner number",
                classes: "govuk-label--m"
              },
              value: query
            }) }}
            {{ govukButton({ text: "Search" }) }}
          </div>
        </div>
      </form>
    </div>
  </div>

  {% if query %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if page and page.content | length >= 1 %}
          {% set prisonerRows = [] %}
          {% for prisoner in page.content %}
            {% set prisonerRows = (prisonerRows.push([{
              html: '<img src="/prisoner/' + prisoner.prisonerNumber + '/image" alt="Image of ' + prisonerName(prisoner.firstName, prisoner.lastName) + '" class="prisoner-search-results__prisoner-image" loading="lazy">'
            }, {
              html: '<a href="/prisoner/' + prisoner.prisonerNumber + '">' + prisonerName(prisoner.firstName, prisoner.lastName) + '</a>'
            }, {
              text: prisoner.prisonerNumber
            }, {
              text: prisoner.cellLocation
            }]), prisonerRows) %}
          {% endfor %}
          {{ govukTable({
            classes: "prisoner-search-results",
            caption: "Prisoner search results",
            captionClasses: "govuk-visually-hidden",
            head: [{
              text: ""
            }, {
              text: "Name"
            }, {
              text: "Prisoner number"
            }, {
              text: "Cell location"
            }],
            rows: prisonerRows
          }) }}
        {% else %}
          <p class="govuk-body">There are no matching search results.</p>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endblock %}
