{% extends "../../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/pagination/macro.njk" import mojPagination -%}

{% set pageTitle = applicationName + " - prisoner search" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Search for a prisoner to view their court cases, adjustments and release dates</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="search-input">
          <div class="search-input__form-inputs">
            {{ govukInput({
              id: "query",
              name: "query",
              type: "search",
              label: {
                text: "Enter name or prisoner number",
                classes: "govuk-label--m"
              },
              value: prisonerSearch.query
            }) }}
            {{ govukButton({ text: "Search" }) }}
          </div>
        </div>
      </form>
    </div>
  </div>

  {% if prisonerSearch.query %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if resultsPage and resultsPage.content | length >= 1 %}
          {% set pages = [] %}
          {% for page in range(0, resultsPage.totalPages) %}
            {% set pages = (pages.push({
              text: page + 1,
              href: '/?query=' + prisonerSearch.query + '&page=' + page,
              selected: page == resultsPage.number
            }), pages) %}
          {% endfor %}

          {{ mojPagination({
            items: pages,
            results: {
              count: resultsPage.totalElements,
              from: resultsPage.number * resultsPage.size + 1,
              to: (resultsPage.number + 1) * resultsPage.size if resultsPage.number < resultsPage.totalPages - 1 else resultsPage.totalElements,
              text: 'prisoners'
            },
            previous: {
              text: 'Previous',
              href: '/?query=' + prisonerSearch.query + '&page=' + (resultsPage.number - 1)
            } if not resultsPage.first,
            next: {
              text: 'Next',
              href: '/?query=' + prisonerSearch.query + '&page=' + (resultsPage.number + 1)
            } if not resultsPage.last
          }) }}

          {% set prisonerRows = [] %}
          {% for prisoner in resultsPage.content %}
            {% set prisonerRows = (prisonerRows.push([{
              html: '<img src="/prisoner/' + prisoner.prisonerNumber + '/image" alt="Image of ' + prisonerName(prisoner.firstName, prisoner.lastName) + '" class="prisoner-search-results__prisoner-image" loading="lazy">'
            }, {
              html: '<a href="/prisoner/' + prisoner.prisonerNumber + '/overview">' + prisonerName(prisoner.firstName, prisoner.lastName) + '</a>'
            }, {
              text: prisoner.prisonerNumber
            }, {
              text: prisoner.pncNumber
            }, {
              text: prisoner.croNumber
            }, {
              text: prisoner.cellLocation
            }, {
              text: prisoner.status
            }, {
              text: prisoner.dateOfBirth | formatDateOfBirth
            }]), prisonerRows) %}
          {% endfor %}
          {{ govukTable({
            classes: "prisoner-search-results",
            caption: "Prisoner search results",
            captionClasses: "govuk-visually-hidden",
            head: [{
              text: ""
            }, {
              text: "Name"
            }, {
              text: "Prisoner number"
            }, {
              text: "PNC number"
            }, {
              text: "CRO number"
            }, {
              text: "Location"
            }, {
              text: "Status"
            }, {
              text: "Date of birth"
            }],
            rows: prisonerRows
          }) }}
        {% else %}
          <p class="govuk-body">There are no matching search results.</p>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endblock %}
